# Bot Telegram — obtenu via @BotFather sur Telegram
TELEGRAM_BOT_TOKEN=GoldyRogers_bot

# Ton Chat ID Telegram — obtenu via @userinfobot
TELEGRAM_CHAT_ID=8154117071:AAFHxf4YVlfyF7LHO0DrwueNMFe5kP-Lz8M

# Fuseau horaire interne (ne pas modifier)
TZ=UTC
